<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
</head>
<body>
<input type="text">
<input type="password" id="pwd">
<input type="button" id="query" value="query">


<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#query").click(function () {
            var pwd = $("#pwd").val();
            $.ajax({
                type: 'post',
                url: 'http://localhost:8088/menus/login',
                dataType: 'json',
                data: {username:"admin",pwd:pwd},
                success: function (data) {
                    data.menus
                    console.log("请求成功", data);
                },
                error: function (err) {
                    console.log("出错辣", err);
                }
            })
        });

    });
</script>
</body>
</html>
